/* Paleta de colores: #C2C6CE, #C0D0EF, #66BDC0, #304A6E, #0F1C30 */

* {
    margin: 0;
    padding: 0; 
}

body{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0F1C30;
    color: #C2C6CE;
}

.cabecera{
    padding: 2rem;  
    background-color: #66BDC0;
    color: white;
    position: sticky;
    top: 0;
}

.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navegacion li{
    list-style: none;
    margin-right: 30px;
}


.enlace{
    color: white;
    text-decoration: none;
}

#welcome-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 2rem;
}

h1, h3{
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    margin-top: 100px;
    margin-left: -200px;
    font-size: 1.6rem;
    color: #304A6E;
    text-shadow: 1px 1px 2px #C2C6CE;
}

#projects{
    width: 100%;
}

.project-tile {
    display: flex;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Hace que el desplazamiento se detenga en cada imagen */
}
  
.enlace {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    flex: 0 0 auto; /* Fuerza a los elementos a mantener su tamaño */
    scroll-snap-align: start; /* Alinea el comienzo de cada imagen con el inicio del contenedor */
}
  
.enlace img {
    width: 300px; 
    height: 300px; 
    padding: 15px;
}

.enlace p {
    text-align: center; /* Centra el texto horizontalmente */
}

.subtitulo{
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
}

.conocimientos{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.texto{
    text-align: center;
}

.portada{
    width: 250px;
    height: 250px;
    padding: 15px;
}

.logos{
    width: 50px;
    height: 50px;
}

.social{
    padding: 1rem;      
}

.footer{
    text-align: center;
    padding-top: 1rem;  
}